[Unit]
Description=lights service
Wants=network-online.target
After=network.target network-online.target

[Service]
User=pi
Type=forking
ExecStart=sh /home/pi/lights/start.sh

[Install]
WantedBy=multi-user.target
