Adafruit-Blinka==5.0.1
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-is31fl3731==2.6.3
adafruit-circuitpython-msa301==1.2.2
adafruit-circuitpython-register==1.8.1
Adafruit-PlatformDetect==2.13.2
Adafruit-PureIO==1.1.5
appdirs==1.4.4
asn1crypto==0.24.0
cffi==1.14.0
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.6.1
distlib==0.3.0
docutils==0.15.2
entrypoints==0.3
enum34==1.1.6
filelock==3.0.12
github-cli==1.0.0
importlib-metadata==1.6.0
importlib-resources==1.5.0
ipaddress==1.0.17
jmespath==0.10.0
keyring==17.1.1
keyrings.alt==3.1.1
paho-mqtt==1.5.0
pathlib2==2.3.5
pycairo==1.19.1
pycparser==2.20
pycrypto==2.6.1
pyftdi==0.51.2
pyserial==3.4
python-dateutil==2.8.1
pyusb==1.0.2
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
s3transfer==0.3.3
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
sysv-ipc==1.0.1
urllib3==1.25.9
zipp==1.2.0
