[Unit]
Description=lights service
Wants=network-online.target
After=network.target network-online.target

[Service]
User=pi
ExecStart=/home/pi/lights/venv/bin/python /home/pi/lights/Client.py him

[Install]
WantedBy=multi-user.target
